* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/images/thumb-1920-1353166.png") no-repeat center center/cover;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
}

main {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
}

h1 {
  margin: 0 0 10px;
  font-size: 2rem;
}

p {
  margin: 0;
}